<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tubes Simple Search Engine</title>
</head>
<body>
    <p><center> <h1> About Us </center> </h1> </p>
    <p><left> <font color=#000000><h2> Sekilas Tentang Search Engine </font></left> </h2> </p>

    <p><left>Search engine merupakan suatu kata yang sangat familiar pada zaman ini. Seluruh orang, mulai dari yang muda hingga yang tua tentu tidak bisa melepas diri dari search engine. Search engine merupakan program yang mencari sesuatu hal dari database dengan memasukkan query. 
        Program akan mencari hal yang berkorelasi dengan query yang dimasukkan kemudian ditampilkan sehingga kita sebagai manusia dapat mendapatkan info atau ilmu baru. Search engine ini dibuat dengan memanfaatkan berbagai ilmu seperti temu-balik informasi yang ada pada materi vektor. 
        Dengan mengubah search query (input pengguna) menjadi ruang vektor. Program dapat menghitung berapa banyak kemunculan kata pada query yang kemudian akan dibandingkan dengan ruang vektor dari dokumen yang ada. Jika terjadi kesamaan, maka dapat ditarik kesimpulan bahwa dokumen tersebut memiliki kesamaan dengan search query dan dapat ditampilkan ke pengguna.
        </left></p>
    <p><left>Program search engine sederhana ini dibuat oleh Naufal Yahya Kurnianto (13519141–K1),
        Alif Bhadrika Parikesit (13519186–K2) dan
        Rayhan Asadel (13519196–K4)
        </left></p>
    <hr />
    <center><a href = "/about" target = "_self"><font color=#0000ff><h3>About</h3></font></a></center>
    <center><a href = "/" target = "_self"><font color=#0000ff><h3>Back to Search</h3></font></a></center>
    
</body>
</html>