<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tubes Simple Search Engine</title>
</head>
<nav>
    <a title="Search from database" class="nav-link" href="/search">+ Search</a>
</nav>
<body>
        <p><center> <h1> Asray Tech Search Engine </center> </h1> </p>
    <content>
        <p><left><h3>Daftar Dokumen:</h3></left></p>
        <form  method = "POST" 
            enctype = "multipart/form-data">
            <input type="file" name="file[]" accept="text/plain" multiple='' />
            <input type = "submit"/>
        </form>
    </content>
    <hr />
    <center><a class = about href = "/about" target = "_self"><font color=#0000ff><h3>About</h3></font></a></center>
    
</body>
</html>